.App {
  text-align: center;
  font-family: 'Alef';
}

.App-header {
  background-color: #ffbd00;
  height: 350px;
  width: 100%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 6em;
  font-weight: bold;
}

.Text {
    padding: 10em;
}

.Form {
  width: 100%;
}